<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>BIT</title>

<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- Icon -->
<link th:href="@{/images/logo.png}" rel="icon">
<!-- bootstrap css -->


</head>

<head th:replace="layout/layoutHongo :: frag-head-hongo"></head>

<!-- body -->

<body>
	<!-- loader  -->
<div id="global-loader">
		<img th:src="@{/assets/images/icons/loader.svg}" alt="loader">
	</div>
	<!-- end loader -->
	<!-- header -->
	<header th:replace="layout/layoutHongo :: frag-header ">
		
	</header>
	<!-- end header -->


	<main>

		<div
			style="padding-left: 10rem; padding-right: 10rem; padding-top: 4rem; display: block; flex-direction: column; justify-content: center;">

			<div class="row row-cards"
				style="display: flex; justify-content: center;">
				<div class="col-lg-12 col-xl-9" th:object="${producto}">
					<div class="card">
						<div class="card-body single-productslide">
							<div class="product-gallery border">
								<div class="product-item text-center">
									<img th:src="@{'data:image/jpeg;base64,'+${producto.image}}"
										alt="img">
								</div>

							</div>
							<div class="product-gallery-data mb-0">
								<h3 class="mb-3 font-weight-semibold"
									th:text="${producto.N_producto}">Apple iPhone 6s (Space
									Grey, 32 GB)</h3>
								<div class="mb-3">
									<span class="font-weight-semibold h1 text-dark"
										th:text="${'S/'+#numbers.formatDecimal(producto.Monto_unitario, 1, 'COMMA', 2, 'POINT')}">$5678</span>

								</div>
								<h6 class="font-weight-semibold mt-3">DESCRIPTION</h6>
								<p class="text-muted">labore et dolore magna enim ad minim
									veniam, quis nostrud exercitation ullamco laboris nisi ut
									aliquip ex ea commodo consequat. Duis aute irure dolor in
									reprehenderit in voluptate velit esse cillum dolore eu fugiat
									nulla pariatur.</p>


								<div sec:authorize="hasAnyRole('ROLE_CUSTOMER','ROLE_ANONYMOUS')" class="row">
									<div class="col-12 mb-0">
										<dl class="product-gallery-quty mt-2 mb-0">
											<dt class="mb-2">Cantidad :</dt>
											<dd>
												<div class="form-group mb-0">
													<select name="quantity" id="cantidadSend"
														class="form-control select-sm  w-8 custom-select">
														<option value="1" selected="">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
													</select>
												</div>
											</dd>
										</dl>
									</div>

								</div>
							</div>
						</div>
						<div class="card-footer text-right" >
							<a  th:href="@{/oulala/producto/listarProductos}" class="btn  btn-info"> Regresar </a> <a sec:authorize="hasAnyRole('ROLE_CUSTOMER','ROLE_ANONYMOUS')" href="#"
								class="btn  btn-success" data-toggle="modal" th:onclick="'javascript:confirmAgregar();'"
									data-target="#agregarProductoCarrito" > <i class="fa fa-shopping-cart"></i>
								Agregar al carrito
							</a>
						</div>
					</div>
				</div>

			</div>

		</div>

<!-- Modal -->
		<div class="modal fade" id="agregarProductoCarrito" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form class="modal-content" th:action="@{/oulala/detalleventa/agregarProductoCarrito}"
					th:object="${agregarProductoCarrito}">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Agregar
							producto al carrito</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="form-group"  hidden="true">
							<label>ID</label> <input type="text" th:name="Cod_producto" th:value="${codigoProducto}"
								class="form-control" name="input" 
								placeholder="Enter Your Name">
						</div>
						
						<div class="form-group" hidden="true">
							<label>Cantidad</label> <input type="text" th:field="*{Q_producto}"
								class="form-control" name="input" id="cantidadCreate"
								placeholder="Enter Your Name">
						</div>

						<p>¿Está seguro de que quiere agregar este producto al carrito?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Agregar</button>
					</div>
				</form>
			</div>
		</div>

	</main>


	<footer th:replace="layout/layoutHongo :: frag-footer-hongo"></footer>

	<footer>
		<div class="row">
			<div class="col-12">
				<div class="card" style="margin-bottom: 0px;">

					<div class="card-body"
						style="background: gray; border-top: 2px solid #000000;">
						<div class="top-footer">
							<div class="row" style="display: flex; justify-content: center;">
								<div class="col-lg-2 col-md-12">
									<a class="header-brand" href="index.html"> <img
										th:src="@{/images/logo2.png}"
										style="width: 8rem; border: transparent;"
										class="header-brand-img" alt="Hogo logo">
									</a>
									<p style="padding-top: 2rem;">Somos unos oulalas izis</p>

								</div>
								<div class="col-lg-2 col-md-12">
									<h6>SERVICES</h6>
									<ul class="list-unstyled">
										<li><a href="javascript:;">Dashboard</a></li>
										<li><a href="javascript:;">Elements</a></li>
										<li><a href="javascript:;">Forms</a></li>
										<li><a href="javascript:;">Charts</a></li>
										<li><a href="javascript:;">Tables</a></li>
										<li><a href="javascript:;">Other Pages</a></li>
									</ul>
								</div>
								<div class="col-lg-2 col-md-12">
									<h6>CATEGORIES</h6>
									<ul class="list-unstyled">
										<li><a href="javascript:;">Our Team</a></li>
										<li><a href="javascript:;">Contact US</a></li>
										<li><a href="javascript:;">About</a></li>
										<li><a href="javascript:;">Services</a></li>
										<li><a href="javascript:;">Blog</a></li>
										<li><a href="javascript:;">Terms and Services</a></li>
									</ul>
								</div>
								<div class="col-lg-4 col-md-12">
									<h6>CONTACT US</h6>
									<ul class="list-unstyled">
										<li><a href="javascript:;">Address1:7363 Old
												Livingston Drive Dyersburg</a></li>
										<li><a href="javascript:;">Address2:4 Harrison
												St.Fairborn, OH 45324</a></li>
										<li><a href="javascript:;">Phno1: +123 456 8976</a></li>
										<li><a href="javascript:;">Phno2: +567 234 7865</a></li>
										<li><a href="javascript:;">Mail1:
												yourdomain@gmail.com</a></li>
										<li><a href="javascript:;">Mail2:
												infodomain@gmail.com</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</footer>

<script type="text/javascript">
		function confirmAgregar(){


			
			
		    var cantidadSend = $("#cantidadSend").val();
		    $("#cantidadCreate").val(cantidadSend);

		  
	}

		function confirmDelete(id){


			$("#idProveedorDelete").val(id);
			
		    

	}

		
		</script>

</body>

</html>