<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head >

<head th:replace="layout/layoutHongo :: frag-head-hongo"></head>

<meta charset="UTF-8">
<title>Login</title>
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" th:href="@{/dist/style.css}">
<link
	th:href="@{/dashboard-investor/Bootstrap/img/Logo_StartupInvest.png}"
	rel="icon">
<link rel="icon" th:href="@{/assets/images/brand/favicon.ico}"
	type="image/x-icon}" />



</head>
<body>

	<!-- header -->
	<header th:replace="layout/layoutHongo :: frag-header ">
		
	</header>
	<!-- end header -->
	

	<section class="user">
		<div class="user_options-container">
			<div class="user_options-text">
				<div class="user_options-unregistered">
					<h2 class="user_unregistered-title">Don't you have an account
						yet?</h2>
					<p class="user_unregistered-text">What are you waiting for to
						create yours? Take advantage of having an account.</p>
					<button th:onclick="|window.location.href ='/oulala/register'|"
						class="user_unregistered-signup" id="signup-button">Register</button>
				</div>

				<div class="user_options-registered">
					<h2 class="user_registered-title">Do you already have an
						account?</h2>
					<p class="user_registered-text">Start the adventure of looking
						for an apartment as if it were your home</p>
					<button class="user_registered-login" id="login-button">Login</button>
				</div>
			</div>
			

			<div class="user_options-forms" id="user_options-forms">
				<div class="user_forms-login">
					<h2 class="forms_title">Login</h2>
					<form class="forms_form" th:action="@{/signin}" method="post">
					
        				<div th:if="${param.error}" class="error-message">
            				<p style="color: red; font-size: 14px; text-align: center;">Usuario o contraseña es invalido. Por favor inténtalo de nuevo.</p>
        				</div>
						
						
						<fieldset class="forms_fieldset">
							<div class="forms_field">
								<input type="text" autocomplete="off"
									placeholder="Enter Username" name="username" id="username"
									class="forms_field-input" required autofocus />
							</div>
							<div class="forms_field">
								<input type="password" placeholder="Enter Password"
									name="password" id="password" class="forms_field-input"
									required />
							</div>
						</fieldset>
						<div class="forms_buttons">
							<input type="submit" value="Log In" class="forms_buttons-action">
						</div>
					</form>
				</div>
				
				
				
				<div class="user_forms-signup">
					<h2 class="forms_title">Register</h2>
					<form class="forms_form">
						<fieldset class="forms_fieldset">
							<div class="forms_field">
								<input type="text" placeholder="Full Name"
									class="forms_field-input" required />
							</div>
							<div class="forms_field">
								<input type="email" placeholder="Email"
									class="forms_field-input" required />
							</div>
							<div class="forms_field">
								<input type="password" placeholder="Password"
									class="forms_field-input" required />
							</div>
						</fieldset>
						<div class="forms_buttons">
							<input type="submit" value="Sign up" class="forms_buttons-action">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- partial -->
	<script th:src="@{/dist/script.js}"></script>


<footer th:replace="layout/layoutHongo :: frag-footer-hongo"></footer>

	<footer>
		<div class="row">
			<div class="col-12">
				<div class="card" style="margin-bottom: 0px;">

					<div class="card-body"
						style="background: gray; border-top: 2px solid #000000;">
						<div class="top-footer">
							<div class="row" style="display: flex; justify-content: center;">
								<div class="col-lg-2 col-md-12">
									<a class="header-brand" href="index.html"> <img
										th:src="@{/images/logo2.png}"
										style="width: 8rem; border: transparent;"
										class="header-brand-img" alt="Hogo logo">
									</a>
									<p style="padding-top: 2rem;">Somos unos oulalas izis</p>

								</div>
								<div class="col-lg-2 col-md-12">
									<h6>SERVICES</h6>
									<ul class="list-unstyled">
										<li><a href="javascript:;">Dashboard</a></li>
										<li><a href="javascript:;">Elements</a></li>
										<li><a href="javascript:;">Forms</a></li>
										<li><a href="javascript:;">Charts</a></li>
										<li><a href="javascript:;">Tables</a></li>
										<li><a href="javascript:;">Other Pages</a></li>
									</ul>
								</div>
								<div class="col-lg-2 col-md-12">
									<h6>CATEGORIES</h6>
									<ul class="list-unstyled">
										<li><a href="javascript:;">Our Team</a></li>
										<li><a href="javascript:;">Contact US</a></li>
										<li><a href="javascript:;">About</a></li>
										<li><a href="javascript:;">Services</a></li>
										<li><a href="javascript:;">Blog</a></li>
										<li><a href="javascript:;">Terms and Services</a></li>
									</ul>
								</div>
								<div class="col-lg-4 col-md-12">
									<h6>CONTACT US</h6>
									<ul class="list-unstyled">
										<li><a href="javascript:;">Address1:7363 Old
												Livingston Drive Dyersburg</a></li>
										<li><a href="javascript:;">Address2:4 Harrison
												St.Fairborn, OH 45324</a></li>
										<li><a href="javascript:;">Phno1: +123 456 8976</a></li>
										<li><a href="javascript:;">Phno2: +567 234 7865</a></li>
										<li><a href="javascript:;">Mail1:
												yourdomain@gmail.com</a></li>
										<li><a href="javascript:;">Mail2:
												infodomain@gmail.com</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</footer>


</body>

</html>
